{% extends 'base.html' %}
{% block content %}

<div class="game-card card">
    {% if message %}
    <div class="card message {% if incorrect %}error{% endif %}{% if last_correct %}correct{% endif %}">{{ message }}</div>
    {% endif %}
    <h2 class="riddle">{{ riddle.question }}</h2>
    <form method="POST">
        <div class="input-group">
            <input type="text" id="answer" name="answer" class="form-control" placeholder="What's your answer?">
            <input type="hidden" id="progress" name="progress" value="{{ progress }}" />
            <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Answer">
            </div>
        </div>
    </form>
</div>
{% endblock %}